.brand-icon {
  height: 100%;
}

nav.navbar { 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  border: 0px;
}
nav.navbar a {
  text-decoration: none;
  color: white;
}

.destination {
  color: black;
  font-weight: bold;
}

h5, h3, .headline h2{
  color: white;
  padding-top: 15px;
}

.go-home {
  padding: 10% 0%;
}

body h4 {
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 

}

form #mountain-select {
  margin: 20px 0px;
}

form .form-group  {
  padding: 10px 0px;
}


body {
  background: url(/images/mountain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}